<h2>Dostępne książki</h2>

<% @books.each do |book| %>
    <section>
        <h3><%=link_to book.title, book_path(book) %></h3>  <!-- <a href="/products/:id">title</a> -->
        <p><%= book.description %></p>
    </section>
<% end %>
